<div class="container-fluid">
  <div class="row" style="min-height: 50vh;">
    <div class="col-md-6"style="background-color: #75BAA8; height:50vh;">
      <center>
        <h1 style="padding-top: 15vh;">ONE</h1>
        <h2>LGU Officer texts<br>system phone number.</h2>
      </center>
    </div>
    <div class="col-md-6" style="height: 50vh;">
      <center>
        <h1 style="padding-top: 15vh;">TWO</h1>
        <h2>System texts residents in area<br>the LGU Officer is responsible for.</h2>
      </center>
    </div>
  </div>
  <div class="row" style="min-height: 50vh;">
    <div class="col-md-6" style="height:50vh;">
      <center>
        <h1 style="padding-top: 15vh;">THREE</h1>
        <h2>Residents reply if<br>they're safe or not.</h2>
      </center>
    </div>
    <div class="col-md-6" style="background-color: #75BAA8; height: 50vh;">
      <center>
        <h1 style="padding-top: 15vh;">FOUR</h1>
        <h2>System finds residents in need<br> and texts government agencies for action.</h2>
      </center>
    </div>
  </div>
</div>