<div class="title-d"> <h1> DONATE </h1> </div>
  
  <center>
    <h3 id="donate-menu"><a href="">TRENDING .</a> <a href=""> DISASTERS .</a> <a href=""> NGOs .</a></h3>
    <div class="container-d">
      <div class="columnd-left">
        <img src="/assets/red-cross-volunteers-zamboanga-siege.jpg" style="width:320px;height:250px;">
        <div class="d-title"><center><b><a href="">9.0 Magnitude Earthquake</a></b></center></div>
      </div>
      <div class="columnd-center"><img src="/assets/japan-floods3-data.jpg" style="width:320px;height:250px;">
<<<<<<< HEAD
        <div class="d-title"><center><b><a href="">Extreme Flood: 19 mPissing</a></b></div><p>Location: Zamboanga</p>
          <p>Date: 07/20/2016</p></div>
=======
        <div class="d-title"><center><b><a href="">Extreme Flood: 19 missing</a></b></div></div>
>>>>>>> 35c533e016e72ec6f09d649e806ee182f2335abd
      <div class="columnd-right"><img src="/assets/11567219963_e5bee4de70_b-1.png" style="width:320px;height:250px;">
        <div class="d-title"><center><b><a href="">Volcano Eruption kills 50</a></b></div></div>
    </div> 
    <div class="container-d">
      <div class="columnd-left">
        <img src="/assets/red-cross-volunteers-zamboanga-siege.jpg" style="width:320px;height:250px;">
        <div class="d-title"><center><b><a href="">9.0 Magnitude Earthquake</a></b></center></div>
      </div>
      <div class="columnd-center"><img src="/assets/japan-floods3-data.jpg" style="width:320px;height:250px;">
        <div class="d-title"><center><b><a href="">Extreme Flood: 19 missing</a></b></div></div>
      <div class="columnd-right"><img src="/assets/11567219963_e5bee4de70_b-1.png" style="width:320px;height:250px;">
        <div class="d-title"><center><b><a href="">Volcano Eruption kills 50</a></b></div></div>
    </div> 
          <h3 id="older"><a href="">Older posts >></a></h3>
  </center>

    <div class="how">
      <center><br><h2> How can you help? </h2>
        <p><b>Likom</b> provides you a with a convenient avenue to donate to the fundraiser or advocacy of your choice.</center>
          <br><br>
          <center>
          <div class="container-d2">
      <div class="columnd-left2">
        <img src="/assets/credit-cards.png" style="width:100px;height:100px;">
        <b>Credit/Debit Card Payment</b>
        <p><br>Simply provide your credit/debit card details (Mastercard or VISA) through our secure payment processor.</p>
      </div>
      <div class="columnd-center2">
        <img src="/assets/payment-method.png" style="width:100px;height:100px;">
        <b>Mobile Billing/Charging</b>
        <p><br>Donate any amount through <b>Globe Telecom</b>'s Operator Billing API or the Pasa-Load feature.</p>
      </div>
      <div class="columnd-right2">
        <img src="/assets/smartphone-call.png" style="width:100px;height:100px;">
        <b>Payment Centers</b>
        <p><br>Pay the amount you would like to donate through accepted payment centers: Cebu Lhuillier or Western Union.</p>
      </div>
      <button name="button" id="button">Donate Now</button>
    </div>
<br>
        </center>

    </div>