<h1 style="margin:0; padding: 0; margin-top: 15vh; border-radius: 0; text-decoration:none; outline:none; color:#D3D3D3; width: 100%; background: transparent; border:none; font-family: 'Roboto', sans-serif; font-size: 80px; font-weight: 900; letter-spacing: -7px; text-align:left; line-height: 55px; padding: 50px;">PASA<br><span style="color: #2FAFAE;">PAG-ASA</span>
</h1>

<div style="margin-top: 25vh;">
  <% if user_signed_in? %>
    <%= link_to "Profile", profile_path, :class => 'index-link', style: "font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300;letter-spacing: 1px; color:#D3D3D3;" %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'index-link', style: "font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300;letter-spacing: 1px; color:#D3D3D3;" %>
  <% else %>
    <%= link_to "Register", new_applicant_path, :class => 'index-link', style: "font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300;letter-spacing: 1px; color:#D3D3D3;" %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Login", new_user_session_path, :class => 'index-link', style: "font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300;letter-spacing: 1px; color:#D3D3D3;" %>
  </div>
<% end %>

<style>
.index-link:hover, .index-link:active, .index-link:visited{
  text-decoration: none;
}
</style>