 <!-- TITLE -->
  <div id="home">
    <div class="update"><div class =" updatecontent" ><b>NOW: </b>Flooding at San Fernando City, La Union</div></div>

    <div class="header">
      <div class = "contents">
        <div id="logo">LIKOM</div>
        <div class = "subhead">
          <div id="caption">Helping the nation</div>
          <div id="caption2">through data collection and dissemination</div>
        </div>
        <div id="alert"><a href="/view"><button class="btn btn-default">Be Alert</button></a></div>
      </div>
    </div>
  </div>