<div id="home">
  <div class="header">
    <div class = "contents">
      <div id="logo">LIKOM</div>
      <div class = "subhead">
        <div id="caption">Helping the nation</div>
        <div id="caption2">through data collection and dissemination</div>
      </div>
    </div>
  </div>
</div>