<div style="height: 45px; padding-top: 5px; padding-left: 15px; width: 100%; background-color: #2FAFAE; color:white; font-family: 'Roboto', sans-serif; font-size: 25px; font-weight: 900; letter-spacing: 3px; text-align:center">LOGO</div>

<div style="background-color: #ecf0f1;">
  <div class="image" width: "100%;">
    <img src="/assets/i1.jpg" width="100%" />
    <h2><span style="background-color: white; color: #2FAFAE;">PROJECT LIWANAG</span></h2>
  </div>
  <div style="height: 41vh; overflow-y:auto; padding: 30px;">
    <div style="margin:0; padding:0; position:fixed; bottom: 17vh; margin-left: 270px;">
      <%= link_to 'DONATE', donate_path, style:"color:white; text-decoration:none; font: 600 18px 'Roboto', sans-serif; letter-spacing: 2px; background-color: #2FAFAE; padding: 10px; border:none;" %></span></h2>
    </div>
    <h1 style="width: 100%; color: #34393F; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 900; letter-spacing: 3px; text-align:left;">WHO WE ARE</h1>
    <p style="padding-top: 10px; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align:left; letter-spacing: 2.5px;">Bacon ipsum dolor amet alcatra bacon sausage, t-bone flank swine kielbasa. Tongue short ribs bresaola chuck venison frankfurter pork loin ground round pork belly cupim corned beef. T-bone beef ribs frankfurter filet mignon, sirloin tongue andouille ham hock picanha. Short loin corned beef t-bone, doner alcatra rump ground round pork loin beef ribs pork shoulder sausage boudin short ribs.</p>
    <h1 style="width: 100%; color: #34393F; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 900; letter-spacing: 3px; text-align:left;">WHO WE HELP</h1>
    <p style="padding-top: 10px; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align:left; letter-spacing: 2.5px;">Bacon ipsum dolor amet alcatra bacon sausage, t-bone flank swine kielbasa. Tongue short ribs bresaola chuck venison frankfurter pork loin ground round pork belly cupim corned beef. T-bone beef ribs frankfurter filet mignon, sirloin tongue andouille ham hock picanha. Short loin corned beef t-bone, doner alcatra rump ground round pork loin beef ribs pork shoulder sausage boudin short ribs.</p>
    <h1 style="width: 100%; color: #34393F; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 900; letter-spacing: 3px; text-align:left;">WHY WE HELP</h1>
    <p style="padding-top: 10px; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align:left; letter-spacing: 2.5px;">Bacon ipsum dolor amet alcatra bacon sausage, t-bone flank swine kielbasa. Tongue short ribs bresaola chuck venison frankfurter pork loin ground round pork belly cupim corned beef. T-bone beef ribs frankfurter filet mignon, sirloin tongue andouille ham hock picanha. Short loin corned beef t-bone, doner alcatra rump ground round pork loin beef ribs pork shoulder sausage boudin short ribs.</p>
    <h1 style="width: 100%; color: #34393F; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 900; letter-spacing: 3px; text-align:left;">WHAT HAPPENS NEXT</h1>
    <p style="padding-top: 10px; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align:left; letter-spacing: 2.5px;">Bacon ipsum dolor amet alcatra bacon sausage, t-bone flank swine kielbasa. Tongue short ribs bresaola chuck venison frankfurter pork loin ground round pork belly cupim corned beef. T-bone beef ribs frankfurter filet mignon, sirloin tongue andouille ham hock picanha. Short loin corned beef t-bone, doner alcatra rump ground round pork loin beef ribs pork shoulder sausage boudin short ribs.</p>
  </div>
</div>

<style>
  .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
  }

  h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
  }
  h2 span { 
     color: white; 
     font: 600 18px 'Roboto', sans-serif; 
     letter-spacing: 2px;  
     background: rgb(0, 0, 0); /* fallback color */
     background-color: #2FAFAE;
     /*background: rgba(0, 0, 0, 0.7);*/
     padding: 10px; 
  }
  h2 span.spacer {
     padding:0 5px;
  }
  .modal-backdrop.in {
      filter: alpha(opacity=50);
      opacity: 0;
  }
</style>