<div id="prepare-container" style="padding: 5vh 5vw;">
  <div id="parent">
    <div class="links">
      <a href="#a" data-toggle="tab"> Disasters & Safety Measures </a> <br>
      <a href="#b" data-toggle="tab"> Government Agencies </a> <br>
      <a href="#c" data-toggle="tab"> Emergency Hotlines </a>
    </div>
    <div class="content" class="print" id="b">
      hehe
    </div>
    <div class="content active" class="print" id="a">
      <div>
        <div class="left"><h1 style="color:#75BAA8;">Emergency Hotlines </h1></div>
        <div class="right"><a href="#" onclick="window.print();return false;">Print this page</a></div>
      </div>
      <br><br>
      <hr>
      <h2>B</h2>
      <b>Bureau of Fire Protection (NCR)</b>
      <p>117, (02) 729-5166, (02) 410-6319 (Regional Director, Information Desk)</p>
      <h2>C</h2>
      <b>CAVITEX</b>
      <p>(02) 825- 4004 Call and Text hotline: 0942-822-8489</p>
      <b>Civil Aviation Authority of the Philippines (CAAP)</b>
      <p>Operations: (02) 879-9112, 879-9110</p>
      <b>Civil Aeronautics Board (CAB)</b>
      <p>(02) 542-5234</p>
      <b>Clark International Airport Corporation (CIAC)</b>
      <p>Trunkline: (045) 499-1468</p>
      <h2>D</h2>
      <b>Department of Interior and Local Government (DILG)</b>
      <p>0917-6279627</p>
      <b>Department of Public Works and Highways (DPWH)</b>
      <p>Hotline: 165-02
      Trunkline: (02) 304-3000
      Road repair/maintenance: (02) 304-3713, (02) 304-3904</p>
      <b>Department of Social Welfare and Development (DSWD)</b>
      <p>Text hotline: 0918-912-2813
      Trunkline: (02) 931-81-01
      Disaster Response Unit: 856-3665, 852-8081</p>
      <b>Department of Transportation and Communications (DOTC) Central hotline</b>
      <p>7890 or (02) 726-6255</p>
      <h2>L</h2>
      <b>Land Transportation Office (LTO)</b>
      <p>Text LTO hotline: Text LTOHELP to 2600 (All networks)
      Hotline; (02) 922-9061 to 66</p>
      <b>Land Transportation Franchising and Regulatory Board (LTFRB)</b>
      <p>24/7 hotline: 1342
      Text/Viber hotlines
      +63917-550-1342
      +63998-550-1342</p>
      <b>Las Pinas Traffic Hotline</b>
      <p>(02)874-5756
      Investigations:(02) 874-3927
      Traffic: (02)874-5754</p>
      <b>Light Rail Transit Authority (LRTA)</b>
      <p>Pasay- 63 (2) 853-0041 to 60
      Santolan- 63 (2) 647-3479 to 91</p>
      <h2>M</h2>
      <b>Makati Public Safety Department</b>
      <p>Command Control Center / C3: (02)870-1940, (02)870-1942
      Traffic / Radio Room / Public Safety Department: (02)844-3146, (02)819-3270 to 71</p>
<b>Manila Water Hotline</b>
<p>1627</p>

<b>Mandaluyong Traffic Hotline</b>
<p>Traffic: (02)534-2993
Command Control Center / C3: (02)533-2225
Emergency: (02)588-2200, (02)588-2299</p>

<b>Marikina Station Tactical Operations Center (STOC)</b>
<p>Hotline: 161
PNP: (02)646-1631
Traffic: (02)646-1633</p>


    
<b>Metro Manila Development Authority (MMDA)</b>
<p>136, 882-0925 (flood control)
Trunkline: (02) 882-4150-77 loc. 337 (rescue), 255 (Metrobase)
Metrobase: 882-0860</p>
    <h2>N</h2>

<b>National Disaster and Risk Reduction and Management Council (NDRRMC) hotlines</b>
<p>(02) 911-1406, (02) 912-2665, (02) 912-5668, (02) 911-1873, (02) 912-3046, Trunkline: 911-5061 to 64</p>

<b>North Luzon Expressway (NLEx) hotlines</b>
<p>(02) 3-5000 and (02) 580-8910</p>
    <h2>O</h2>
<b>Office of the Civil Defense regional office telephone directory</b>
<ul>
<li>Region I: (072) 607-6528, (072) 700-4747
<li>Region II: (078) 304-1630, (078) 304-1631
<li>Region III: (045) 455-1526, (045) 455-0033
<li>Region IV-A: (049) 834-4344, (049) 531-7266, TF (049)531-7279
<li>Region IV-B: (043) 723-4248, (043) 702-9361
<li><p>Region V: (052) 742-1176
+63917-574-7880 (Globe)
+63928-505-3861 (Smart)</p>
<li>Region VI: (033) 336-9353, (033) 337-6671, (033) 509-7319
<li><p>Region VII: (032) 416-5025, (032) 253-6162, (032) 253-8730
+63917-947-5666 (Globe)
+63949-471-0009 (Smart)</p>
<li><p>Region VIII: +63917-700-1121 (Globe)
+63915-762-2368 (Globe)
+6306-402-7737 (Globe) TEXT FIRST BEFORE CALLING THIS LINE</p>
<li>Region IX: (062) 911-1631, (062) 925-0458, (062) 9913450
<li>Region X: (088) 857-3907, (088) 857-3988 (Telefax)
<li>Region XI: (082) 233-0295, (082) 233-0611 (Telefax)
<li><p>Region XII: (083) 552-9759, (083) 553-2994, (083) 301-2994
+63917-628-3720 (Globe)
+63920-976-4001 (Smart)</p>
<li>CAR: (074) 3042256, (074) 6190986, (074) 4445298
<li>CARAGA: (085) 342-8753
<li>National Capital Region: (02) 913-2786 or (02) 421-1918
</ul>
    <h2>P</h2>
<b>Philippine Atmospheric, Geophysical and Astronomical Services Administration (PAGASA) hotline</b>
<p>(02) 433-8526</p>
  
<b>Philippine National Police (PNP) Hotline Patrol</b>
<p>117 or send TXT PNP to 2920</p>
<h2>R</h2>
<b>Red Cross</b>
<p>Hotline: 143, (02) 527-0000, (02) 527-8385 to 95
Disaster Management Office: 134 (Staff), 132 (Manager), 133 (Radio Room)
Telefax: 527-0864</p>
    <h2>S</h2>

<b>Skyway System Hotline</b>
<p>(02) 776-7777, 0917-539-8762 (globe)
0999-886-0893 (smart)
0932-854-6980 (sun)</p>

<b>South Luzon Expressway (SLEx) hotline</b>
<p>(049) 508-7509
(02) 584-4389
(02) 584-4605
(02) 584-4605
(02) 584-4654
(049) 502-8956 (Laguna)</p>

<b>Subic-Clark-Tarlac Expressway (SCTEX) hotlines</b>
<p>(0920) 96-SCTEX (72839) (traffic hotline) or (045) 459-0522</p>
  </div>


</div>
</div>