/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/sprites
 */

body {
  font-family: 'Montserrat', sans-serif;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
}

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}


.ui-helper-hidden-accessible { display:none; }

/*HOME*/

.wrapper{
    height: 100%;
  width: 100%;
  margin: 0px;
   padding: 0px;
  overflow: hidden;
}
.navbar-default {
  background-color:white;
  background-image: none;
  background-repeat: no-repeat;

 }

#home{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: url("likomhome.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    height: 100%;
}

.update{
  padding-top: 50px;
  padding-left: 50px;
}

.updatecontent{
  width:500px;
  height: 30px;
  background-color: white;
  padding-left: 20px;
  padding-top: 5px;
    border-radius: 25px;
}

.header{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
}
.subhead{
  margin-top: -45px;

  padding-left: 10px;
}
.contents{
  margin-top: -250px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  
}
#logo{
  font-size: 150px;
  font-weight: 700;
}
#caption{
  font-size: 22.5px;
  font-weight: 400;
}
#caption2{
  font-size: 22.5px;
  font-weight: 400;
  margin-top: -5px;
}
#alert{
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
/*HOMEEND*/

/*LGURESPONSE*/
.wrapperres{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  padding: 10px;

}

.titleresponse
{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #75baa8;
}
/*LGURESPONSEEND*/

/** prepare **/

#parent {
  width: 100%;
  margin-right: 500px;
}
.links {
  float: left;
  width: 20%;
}
.content {
  overflow: hidden;
  width: 70%;
  display:none;
}
.active{
  display:block;
}
.links a:link, .sub a:link{
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.right a:link {
  color: black;
  text-decoration: none;
}

.links a:visited, .sub a:visited, .right a:visited {
  color: black;
}

.links a:hover, .sub a:hover, .right a:hover {
  color: #75BAA8;
}

.links a:active, .sub a:active, .right a:active {
  color: #75BAA8;
}
.left {
  float: left;
  margin-top: -18px;
}
.right {
    float: right;
    margin: 20;
}

/** donate **/


.container-d{
height:500px;
width:1000px;
border-left:none;
border-right:none;
text-align:center;
}

.container-d div{
display: inline-block;
vertical-align: middle;
line-height: 100px;
} 
 .columnd-left{ float: left; width: 32%;  height:500px;}
.columnd-right{ float: right; width: 32%;  height:500px; margin-left: -8px;}
.columnd-center{ display: inline-block; width: 33%; height:500px; }

.donate-menu a:link, container-d a:link{
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.donate-menu a:visited, container-d a:visited {
  color: black;
}

.donate-menu a:hover, container-d a:hover {
  color: #CF6766;
}

.donate-menu a:active, container-d a:active {
  color: #CF6766;
}

.donate-menu .d-title {
  margin-top: -70px;
}


.container-d img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.d-content p {
  margin-top: -50px;
}

.how {
  background-color: #75baa8;
}


.container-d2{
height:300px;
width:1000px;
border-left:none;
border-right:none;
text-align:center;
}

.container-d2 div{
display: inline-block;
vertical-align: middle;
line-height: 100px;
} 
 .columnd-left2{ float: left; width: 32%;  height:200px;}
.columnd-right2{ float: right; width: 32%;  height:200px; margin-left: -8px;}
.columnd-center2{ display: inline-block; width: 33%; height:200px; }

.container-d2 p {
  line-height: 12px;
}

#donate-menu{
  margin: 30px;
  letter-spacing: 2px;
}

#older a{
  float: right;
  margin-top: -50px;
}

.maincol-c {
  margin-top: 50px;
}

.title-contact, .title-d{
  color: #75baa8;
}

/** view **/

.date-select{
  width: 300px;
}
.date-submit{
  width: 300px;
  margin-top: 10px;
  background-color: #75BAA8;
}

.donatecontent{
  display: none;
}