/*HOME*/

.wrapper{
		height: 100%;
	width: 100%;
	margin: 0px;
   padding: 0px;
	overflow: hidden;
}
.navbar-default {
  background-color:white;
  background-image: none;
  background-repeat: no-repeat;

 }

#home{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background: url("../img/likomhome.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    width: 100%;
    height: 100%;
}

.update{
	padding-top: 50px;
	padding-left: 50px;
}

.updatecontent{
	width:500px;
	height: 30px;
	background-color: white;
	padding-left: 20px;
	padding-top: 5px;
    border-radius: 25px;
}

.header{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100%;
}
.subhead{
	margin-top: -45px;

	padding-left: 10px;
}
.contents{
	margin-top: -250px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	
}
#logo{
	font-size: 150px;
	font-weight: 700;
}
#caption{
	font-size: 22.5px;
	font-weight: 400;
}
#caption2{
	font-size: 22.5px;
	font-weight: 400;
	margin-top: -5px;
}

#alert{
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
}
/*HOMEEND*/

/*LGURESPONSE*/
.wrapperres{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100%;
	padding: 10px;

}

.titleresponse
{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #75baa8;
}
/*LGURESPONSEEND*/