<!DOCTYPE html>
<html>
<head>
  <title>Pasa Pag-asa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,100,300' rel='stylesheet' type='text/css'>
</head>
<body>

<section style="height: 100vh; overflow-y: auto; background-color: black; padding-top: 5vh;">
  <center>
    <div id="pg-home" style="width: 450px; height: 90vh; border: 10px solid white; border-radius: 40px;">
      <div>
        <div style="width:100%; background-color: white; height: 6vh; border-top-right-radius: 10px; border-top-left-radius: 10px;"></div>
        
        <%= yield %>
        
        <div style="width:440px; background-color: white; height: 8vh; border-bottom-right-radius: 40px; border-bottom-left-radius: 15px; position:absolute; bottom: 5.75vh;"></div>

    </div>
  </center>
</section>

</body>
</html>
